.profileWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.profilePicture {
    height: 60px;
    width: 60px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.dropDownMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 200px;
    height: auto;
    background-color: #FFF;
    transform: translateX(-70%);
    border-radius: 30px;
    transition: 0.3s ease;
}

.dropdownMenuLastButton {
    border-radius: 0 0 30px 30px;
    background-color: #FFF;
    transition: box-shadow 0.3s ease;
}

.dropdownMenuLastButton:hover {
    box-shadow: 0 3px 0 0 #FD0358;
}

.dropdownMenuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    color: #000;
    border: none;
}
