.roboto-font {
  font-family: 'Roboto Mono', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

main {
  padding: 0 5%;
  margin-top: 120px;
  margin-bottom: 120px;
  font: 400 18px "Lato", sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: bold;
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
}

h3 {
  font-size: 52px;
  font-weight: bold;
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
}