.defaultButton {
    height: 40px;
    padding: 10px 25px;
    width: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Mono', sans-serif;
    background-color: #FFF;
    color: #464040;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: box-shadow 0.3s ease;
}

.defaultButton:hover {
    box-shadow: 3px 3px 0 0 #780FB4;
}

.secondaryButton {
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    transition: box-shadow 0.3s ease;
}

.secondaryButton:hover {
    box-shadow: 3px 3px 0 0 #780FB4;
}