.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 130px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #780FB4;
    color: #fff;
    position: relative;
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menuItemsGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menuItem {
    cursor: pointer;
}

.menuItem:hover {
    font-weight: 600;
}